*.iml
.gradle
.idea
gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/app/app.iml
/job_manager/build
/job_manager/job_manager.iml
/user_manager/build
/user_manager/user_manager.iml
/common/build
/common/common.iml
